<p>proceed works!</p>
<!-- <p-card> -->
<!-- <button pButton type="button" icon="pi pi-arrow-left" (click)="clickMe()"></button><br><br> -->
<table>
        <tr>
            <th>Category</th>
            
        </tr>
        <tr>
            <td><b>Total (Hrs)</b></td><br><br>
            <td><input type="text" class="value" placeholder="0"></td>
            <td><input type="text" class="value" placeholder="0"></td>
            <td><input type="text" class="value" placeholder="0"></td>
            <td><input type="text" class="value" placeholder="0"></td>
        </tr>
</table>
<!-- </p-card>  -->


<!-- <p-fileUpload  id="file" name="file" type="file"></p-fileUpload> -->

















<!-- <button pButton type="button" icon="pi pi-arrow-left" (click)="clickMe()"></button><br><br>
<form [formGroup]="form">
    <div class="grid">
        <h4></h4>
    </div>
    <div class="grid ">
        <div class="col-1" *ngFor="let weekDate of weekDates ;let i=index" >
            <label>{{weekDate | date }}</label><br>
            <div style="color:Gray ;">{{days[i]}}</div><br>
            <input type="text" class="input1" placeholder="0" formControlName="first" pInputText />
        </div>
        <br>
    </div>
    <div class="grid">
        <h4>Total Hrs</h4>
    </div>
    <div class="grid ">
        <div class="col-1" *ngFor="let weekDate of weekDates ;let i=index">
            <input type="text" class="input1" placeholder="0" formControlName="third" pInputText />
        </div>

    </div>
</form>

<br>

<textarea pInputTextarea placeholder="Enter notes related to your daily activity" style="width:100%"></textarea><br><br>
<button pButton type="button" >Submit</button> -->
<!-- <p-card>
    <button pButton type="button" icon="pi pi-arrow-left" (click)="clickMe()"></button><br><br>
    <form [formGroup]="form">
        <div class="grid">
            <h4>Category</h4>
            &nbsp;&nbsp;
            <div class="col-1" *ngFor="let weekDate of weekDates ;let i=index">
                <label>{{weekDate | date }}</label><br>
                <div style="color:Gray ;">{{days[i]}}</div><br>
            </div>
        </div>
        <div class="grid">
            <h4>Total (Hrs)</h4>
            <div class="col-1" *ngFor="let weekDate of weekDates ;let i=index">
                <p-inputNumber type="text"  class="input1"  placeholder="0" formControlName="First"  ></p-inputNumber>
                      
            </div>
        </div>
        <br><br>
        <br>
        <div class="grid">
            <input style="width:60%;" placeholder="NOTES" type="text" class="p-inputtext-sm" pInputText />
        </div><br><br>
        <br>
        <div class="grid">
            <p-fileUpload mode="basic" accept=".pdf/*" [maxFileSize]="maxsize" (onUpload)="onBasicUploadAuto($event)"
                [auto]="true" chooseLabel="Upload"></p-fileUpload>
            <button pButton type="button" label="Save as Draft" style="position:relative;left:900px; top:0px"
                class="p-button-warning"></button>
            <button pButton type="button" (click)="submit()" label="Submit"
                style="position:relative;left:950px; top:0px" class="p-button-help">
            </button>
        </div>
    </form>
</p-card> -->