<div class="input">
<p-toolbar>
    <div class="navbar">
        <button pButton routerLink="library" class="p-button-text p-button-plain"
            style="position:relative;left:251px;">
            <i class="pi pi-inbox" style="position:relative;right:7px;"></i>Library Assets
        </button>
        <button pButton routerLink="internal" class="p-button-text p-button-plain"
            style="position:relative;left:253px;">
            <i class="pi pi-video" style="position:relative;right:7px;"></i>Internal Depot
        </button>
        <button pButton routerLink="doc" class="p-button-text p-button-plain"
            style="position:relative;left:255px;">
            <i class="pi pi-desktop" style="position:relative;right:7px;"></i>Documents
        </button>
        <button pButton routerLink="idea" class="p-button-text p-button-plain"
            style="position:relative;left:257px;">
            <i class="pi  " style="position:relative;right:7px;"></i>Idea Hub
        </button>
        <button pButton routerLink="certification" class="p-button-text p-button-plain"
            style="position:relative;left:259px;">
            <i class="pi  " style="position:relative;right:7px;"></i>Certifications
        </button>

    </div>
</p-toolbar>
</div>
<router-outlet></router-outlet>