<div class="input">
<p-toolbar>
    <div class="navbar">
    <button pButton routerLink="/dashboard" class="p-button-text p-button-plain" 
    style="position:relative;left:254px;">
        <i class="pi pi-home" style="position:relative;right:7px;"></i>Dashboard      
    </button>
    <button pButton routerLink="/referrals" class="p-button-text p-button-plain"  style="position:relative;left:265px;">
        <i class="pi pi-directions-alt" style="position:relative;right:7px;"></i>Referrals
    </button>
    <button pButton routerLink="/suggestions" class="p-button-text p-button-plain" style="position:relative;left:267px;">
        <i class="pi pi-stop" style="position:relative;right:7px;"></i>Suggestions
    </button>
    <button pButton routerLink="/events" class="p-button-text p-button-plain" style="position:relative;left:269px;">
        <i class="pi pi-envelope" style="position:relative;right:7px;"></i>Upcoming Events
    </button>
</div>
</p-toolbar>
</div>
<router-outlet></router-outlet>