<div class="input">
<p-toolbar>
    <div class="navbar">
        <button pButton routerLink="hubbles" class="p-button-text p-button-plain"
            style="position:relative;left:258px;">
            <i class="pi pi-desktop" style="position:relative;right:7px;"></i>Hubble
        </button>
        <button pButton routerLink="mtalk" class="p-button-text p-button-plain"
            style="position:relative;left:260px;">
            <i class="pi pi-comments" style="position:relative;right:7px;"></i>Mtalk
        </button>
        <button pButton routerLink="blog" class="p-button-text p-button-plain"
            style="position:relative;left:262px;">
            <i class="pi pi-map" style="position:relative;right:7px;"></i>Blog
        </button>
    </div>
</p-toolbar>
</div>
<router-outlet></router-outlet>