<div class="input">
<p-toolbar>
<div class="navbar">
    <button pButton routerLink="corporate" class="p-button-text p-button-plain" style="position:relative;left: 256px;;">
        <i class="pi pi-building" style="position:relative;right:7px;"></i>Corporate
    </button>
    <button pButton routerLink="social" class="p-button-text p-button-plain"  style="position:relative;left:258px;">
        <i class="pi pi-globe " style="position:relative;right:7px;"></i>Social Policy
    </button>
    <button pButton routerLink="emails" class="p-button-text p-button-plain" style="position:relative;left:260px;">
        <i class="pi pi-inbox" style="position:relative;right:7px;"></i> Email Signature
    </button>
</div>
</p-toolbar>
</div>
<router-outlet></router-outlet>