<p-card>
    <p>Reset Your Password</p>
    <p-card class="nav">
        <form [formGroup]="myform">
            <input type="text" formControlName="OldPassword" placeholder="Old Password"
                style="position: relative;width: 368px;" pInputText><br><br>
            <input type="New Password" formControlName="NewPassword" placeholder="New Password"
                style="position: relative;width: 368px;" pInputText><br><br>
            <input type="Confirm Password" formControlName="ConfirmPassword" placeholder="Confirm Password"
                style="position: relative;width: 368px;" pInputText><br><br>
            <button routerLink="/Employee" pButton
                style="position:relative;left: 0px; width: 375px;background-color: #00aae7;">Reset</button><br><br>
            <button routerLink="/Employee" pButton
                style="position:relative;right: 85px;width: 92px;background-color: #00aae7">
                <i class="pi pi-arrow-circle-left" style="position:relative;right:8px"></i>Back</button>
            <button routerLink="/Employee" pButton
                style="position:relative;left: 95px;width: 92px;background-color: #00aae7">
                <i class="pi pi-power-off" style="position:relative;right:8px"></i>Logout</button>
        </form>
    </p-card>
</p-card>