<!-- <p-card>
    <p-scrollPanel [style]="{width: '100%', height: '200px'}">
        <p-image src="assets\photo\12.png" alt="Image" width="167px" height="97px"></p-image>&nbsp;
        <p-image src="assets\photo\1.png" alt="Image" width="167px" height="97px"></p-image>&nbsp;
        <p-image src="assets\photo\2.png" alt="Image" width="167px" height="97px"></p-image>&nbsp;
        <p-image src="assets\photo\10.png" alt="Image" width="167px" height="97px"></p-image>&nbsp;
        <p-image src="assets\photo\3.png" alt="Image" width="167px" height="97px"></p-image>&nbsp;
        <p-image src="assets\photo\4.png" alt="Image" width="167px" height="97px"></p-image>&nbsp;
        <p-image src="assets\photo\6.png" alt="Image" width="167px" height="97px"></p-image>&nbsp;
        <p-image src="assets\photo\7.png" alt="Image" width="167px" height="97px"></p-image>&nbsp;
        <p-image src="assets\photo\8.png" alt="Image" width="167px" height="97px"></p-image>&nbsp;
        <p-image src="assets\photo\9.png" alt="Image" width="167px" height="97px"></p-image>&nbsp;
        <p-image src="assets\photo\11.png" alt="Image" width="167px" height="97px"></p-image>&nbsp;
        <p-image src="assets\photo\12.png" alt="Image" width="167px" height="97px"></p-image>&nbsp;
    </p-scrollPanel>
</p-card> -->
<!-- <div class="grid">
    <div>
        <div (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()">
            <p-image src="assets\photo\9.png" alt="Image" width="167px" height="97px">
            </p-image>&nbsp;
            <a href="assets\photo\12.png" download="" style="text-decoration: none">
                <p-button [hidden]="!iconVisible" type="button">Png</p-button>
            </a>
        </div>
        <div flex-row (mouseenter)="mouseEnter1()" (mouseleave)="mouseLeave1()">
            <p-image src="assets\photo\10.png" alt="Image" width="167px" height="97px">
            </p-image>&nbsp;
            <a href="assets\photo\10.png" download="" style="text-decoration: none">
                <p-button [hidden]="!iconVisible1" type="button">Png</p-button>
            </a>
        </div>
    </div>
</div> -->

<!-- 
<p-card>
    <table>
        <div>
            <tr>
                <td>
                    <div (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()"
                        style="background:blueviolet;height: 100px;">
                        <img src="assets\photo\9.png" alt="Image" width="167px" height="97px">
                        <a href="assets\photo\9.png" [hidden]="!iconVisible" download="" style="text-decoration: none">
                            <p-button [hidden]="!iconVisible" type="button">Png</p-button>
                            jkj
                        </a>
                        <div class="button"><a href="#"> BUTTON </a></div>
                    </div>
                </td>
                <td>
                    <div (mouseenter)="mouseEnter1()" (mouseleave)="mouseLeave1()"
                        style="background: red;height: 300px;">
                        <img src="assets\photo\12.png" alt="Image" width="167px" height="97px">
                        <a href="assets\photo\12.png" [hidden]="!iconVisible1" style="position:absolute;top: 0px;"
                            download="" style="position:relative;text-decoration: none">
                            <p-button [hidden]="!iconVisible1" type="button" style="position:relative">Png</p-button>
                            Button
                        </a>
                        <div class="button"><a href="#"> BUTTON </a></div>

                    </div>
                </td>
                <td>
                    <div class="button">
                        <a href="assets\photo\12.png" [hidden]="!iconVisible1" style="position:absolute;top: 0px;"
                            download="" style="position:relative;text-decoration: none">
                            Button
                        </a>
                    </div>
                </td>
            </tr>
        </div>
    </table>
</p-card> -->

<!-- <div class="navbar">
    <p-card class="nav">
        <p-scrollPanel [style]="{width: '100%', height: '200px'}">
            <table>
                <tr>
                    <td>
                        <div class="card">
                            <img src="assets\photo\12.png" alt="" />
                            <div class="overlay"></div>
                            <div class="button">
                                <a href="assets\photo\12.png" download=""
                                    style="position:relative;text-decoration:none">Button</a>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card">
                            <img src="assets\photo\1.png" alt="" />
                            <div class="overlay"></div>
                            <div class="button">
                                <a href="assets\photo\1.png" download=""
                                    style="position:relative;text-decoration:none">Button</a>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card">
                            <img src="assets\photo\2.png" alt="" />
                            <div class="overlay"></div>
                            <div class="button">
                                <a href="assets\photo\2.png" download=""
                                    style="position:relative;text-decoration:none">Button</a>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card">
                            <img src="assets\photo\10.png" alt="" />
                            <div class="overlay"></div>
                            <div class="button">
                                <a href="assets\photo\10.png" download=""
                                    style="position:relative;text-decoration:none">Button</a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="card">
                            <img src="assets\photo\3.png" alt="" />
                            <div class="overlay"></div>
                            <div class="button">
                                <a href="assets\photo\3.png" download=""
                                    style="position:relative;text-decoration:none">Button</a>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card">
                            <img src="assets\photo\4.png" alt="" />
                            <div class="overlay"></div>
                            <div class="button">
                                <a href="assets\photo\4.png" download=""
                                    style="position:relative;text-decoration:none">Button</a>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card">
                            <img src="assets\photo\6.png" alt="" />
                            <div class="overlay"></div>
                            <div class="button">
                                <a href="assets\photo\6.png" download=""
                                    style="position:relative;text-decoration:none">Button</a>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card">
                            <img src="assets\photo\7.png" alt="" />
                            <div class="overlay"></div>
                            <div class="button">
                                <a href="assets\photo\7.png" download=""
                                    style="position:relative;text-decoration:none">Button</a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="card">
                            <img src="assets\photo\8.png" alt="" />
                            <div class="overlay"></div>
                            <div class="button">
                                <a href="assets\photo\8.png" download=""
                                    style="position:relative;text-decoration:none">Button</a>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card">
                            <img src="assets\photo\9.png" alt="" />
                            <div class="overlay"></div>
                            <div class="button">
                                <a href="assets\photo\9.png" download=""
                                    style="position:relative;text-decoration:none">Button</a>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card">
                            <img src="assets\photo\13.png" alt="" />
                            <div class="overlay"></div>
                            <div class="button">
                                <a href="assets\photo\13.png" download=""
                                    style="position:relative;text-decoration:none">Button</a>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card">
                            <img src="assets\photo\12.png" alt="" />
                            <div class="overlay"></div>
                            <div class="button">
                                <a href="assets\photo\12.png" download=""
                                    style="position:relative;text-decoration:none">Button</a>
                            </div>
                        </div>
                    </td>
                </tr>
                    <tr>
                        <td>
                            <div class="card">
                                <img src="assets\photo\15.png" alt="" />
                                <div class="overlay"></div>
                                <div class="button">
                                    <a href="assets\photo\15.png" download=""
                                        style="position:relative;text-decoration:none">Button</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="card">
                                <img src="assets\photo\14.png" alt="" />
                                <div class="overlay"></div>
                                <div class="button">
                                    <a href="assets\photo\14.png" download=""
                                        style="position:relative;text-decoration:none">Button</a>
                                </div>
                            </div>
                        </td>
                    </tr>
            </table>
        </p-scrollPanel>
    </p-card>
</div> -->
<!-- [style]="{width: '102%', height: '367px'}" -->
<p-card>
    <p-scrollPanel>
        <div class="grid">
            <div *ngFor="let image of images;let i =index" (mouseenter)="mouseEnter(i)" (mouseleave)="mouseEnter('')" class="div1">
                <img [src]="image" />
                <div class="button">
                    <a [href]="image" download="{{image}}" *ngIf="hoveredIndex===i"
                        style="position:relative;text-decoration:none;color:black">Png</a>
                </div>
            </div>
        </div>
    </p-scrollPanel>
</p-card>