<!-- <p-card>
    <p-scrollPanel [style]="{width: '100%', height: '200px'}">
        <div>
            <h1 style="position: relative;right:253px;color: #2368a0;">New Employee Social Shares</h1>
            <h4 style="position: relative;right: 283px;">Following are the Linkedin announcements GIF's</h4>
        </div>
        <table>
            <tr>
                <td>
                    <div style="position: relative;border: 2px solid rgba(0, 170, 231, 0.8);;width: 236px;">
                        <div class="card">
                            <img src="\assets\gif\New_Employee_Share_1.gif" alt="" />
                            <div class="overlay"></div>
                            <div class="button">
                                <a href="\assets\gif\New_Employee_Share_1.gif" download=""
                                    style="position:relative;text-decoration:none">Download</a>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div style="position: relative;border: 2px solid rgba(0, 170, 231, 0.8);;width: 236px;">
                        <div class="card">
                            <img src="\assets\gif\New_Employee_Share_2.gif" alt="" />
                            <div class="overlay"></div>
                            <div class="button">
                                <a href="\assets\gif\New_Employee_Share_2.gif" download=""
                                    style="position:relative;text-decoration:none">Download</a>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div style="position: relative;border: 2px solid rgba(0, 170, 231, 0.8);;width: 236px;">
                        <div class="card">
                            <img src="\assets\gif\New_Employee_Share_3.gif" alt="" />
                            <div class="overlay"></div>
                            <div class="button">
                                <a href="\assets\gif\New_Employee_Share_3.gif" download=""
                                    style="position:relative;text-decoration:none">Download</a>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div style="position: relative;border: 2px solid rgba(0, 170, 231, 0.8);;width: 236px;">
                        <div class="card">
                            <img src="\assets\gif\New_Employee_Share_4.gif" alt="" />
                            <div class="overlay"></div>
                            <div class="button">
                                <a href="\assets\gif\New_Employee_Share_4.gif" download=""
                                    style="position:relative;text-decoration:none">Download</a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="position: relative;border: 2px solid rgba(0, 170, 231, 0.8);;width: 236px;">

                        <div class="card">
                            <img src="\assets\gif\New_Employee_Share_5.gif" alt="" />
                            <div class="overlay"></div>
                            <div class="button">
                                <a href="\assets\gif\New_Employee_Share_5.gif" download=""
                                    style="position:relative;text-decoration:none">Download</a>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div style="position: relative;border: 2px solid rgba(0, 170, 231, 0.8);;width: 236px;">

                        <div class="card">
                            <img src="\assets\gif\New_Employee_Share_6.gif" alt="" />
                            <div class="overlay"></div>
                            <div class="button">
                                <a href="\assets\gif\New_Employee_Share_6.gif" download=""
                                    style="position:relative;text-decoration:none">Download</a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <div>
            <h2 style="position: relative;right: 335px;color: #2368a0;">LinkedIn Cover Images</h2>
            <h4 style="position: relative;right: 311px;">Following are the LinkedIn cover images</h4>
        </div>
        <table>
            <tr>
                <td>
                    <div class="box">
                        <div class="card">
                            <img src="assets\images\Image-1.jpg " class="img1" alt="" />
                            <div class="overlay"></div>
                            <div class="button1" style="position:relative;">
                                <a href="assets\images\Image-1.jpg" download=""
                                    style="position:relative;text-decoration:none">Download</a>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="box">
                        <div class="card">
                            <img src="assets\images\Image-2.jpg " class="img1" alt="" />
                            <div class="overlay"></div>
                            <div class="button1" style="position:relative;">
                                <a href="assets\images\Image-1.jpg" download=""
                                    style="position:relative;text-decoration:none">Download</a>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="box">
                        <div class="card">
                            <img src="assets\images\Image-3.jpg " class="img1" alt="" />
                            <div class="overlay"></div>
                            <div class="button1" style="position:relative;">
                                <a href="assets\images\Image-1.jpg" download=""
                                    style="position:relative;text-decoration:none">Download</a>
                            </div>
                        </div>
                    </div>
                </td>
            <tr>
                <td>
                    <div class="box">
                        <div class="card">
                            <img src="assets\images\Image-4.jpg " class="img1" alt="" />
                            <div class="overlay"></div>
                            <div class="button1" style="position:relative;">
                                <a href="assets\images\Image-1.jpg" download=""
                                    style="position:relative;text-decoration:none">Download</a>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="box">
                        <div class="card">
                            <img src="assets\images\Image-5.jpg " class="img1" alt="" />
                            <div class="overlay"></div>
                            <div class="button1" style="position:relative;">
                                <a href="assets\images\Image-1.jpg" download=""
                                    style="position:relative;text-decoration:none">Download</a>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="box">
                        <div class="card">
                            <img src="assets\images\Image-6.jpg " class="img1" alt="" />
                            <div class="overlay"></div>
                            <div class="button1" style="position:relative;">
                                <a href="assets\images\Image-1.jpg" download=""
                                    style="position:relative;text-decoration:none">Download</a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </p-scrollPanel>
</p-card> -->
<!-- <p-card>
    <div  *ngFor="let image of images" >
        <img [src]='image'/>
      </div>
</p-card> -->


<p-card>
    <p-scrollPanel>
        <div>
            <h1 style="position: relative;right:334px;color: #2368a0;">New Employee Social Shares</h1>
            <h4 style="position: relative;right:362px;">Following are the Linkedin announcements GIF's</h4>
        </div>
        <div class="grid">
            <div *ngFor="let gif of gifs; let i = index " (mouseenter)="mouseEnter(i)" (mouseleave)="mouseEnter('')">
                <img [src]="gif" />
                <div class="overlay"></div>
                <div class="button">
                    <a [href]="gif" download="{{gif}}" *ngIf="hoveredIndex === i"
                        style="position:relative;text-decoration:none">Download</a>
                </div>
            </div>
        </div>
        <div>
            <h2 style="position: relative;right:411px;;color: #2368a0;">LinkedIn Cover Images</h2>
            <h4 style="position: relative;right:386px;">Following are the LinkedIn cover images</h4>
        </div>
        <div class="grid1">
            <div *ngFor="let image of images;let i =index" (mouseenter)="mouseEnter1(i)" (mouseleave)="mouseEnter1('')">
                <img [src]="image" class="image" />
                <div class="overlay"></div>
                <div class="button1">
                    <a [href]="image" download="{{image}}"  *ngIf="hoveredIndex === i"
                        style="position:relative;text-decoration:none">Download</a>
                </div>
            </div>
        </div>
    </p-scrollPanel>
</p-card>