:host ::ng-deep .p-tabmenu .p-tabmenu-nav {
    background:transparent;
}
:host ::ng-deep .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
    border-width: 0 0 0 0;
    background: transparent;
    border-top-right-radius: 0;
    border-top-left-radius: 0;

}