
  <div style="background-color: skyblue">
    <p-toolbar>
        <div>
            <button pButton pRipple label="Employee" class="p-button-text p-button-plain" routerLink="/Employee"
                style="position:relative;left: 252px;color:rgba(0, 0, 0, 0.603);">
                <i class="pi pi-user" style="font-size: 1.5rem;position:relative;right: 8px;"></i>
            </button>
            <button pButton pRipple label="Standards" class="p-button-text p-button-plain" routerLink="/Standards"
                style="position:relative;left:253px;color:rgba(0, 0, 0, 0.603);">
                <i class="pi pi-box" style="font-size: 1.5rem;position:relative;right: 8px;"></i>
            </button>
            <button pButton pRipple label="Resource" class="p-button-text p-button-plain" routerLink="/Resource"
                style="position:relative;left:254px;color:rgba(0, 0, 0, 0.603);">
                <i class="pi pi-book" style="font-size: 1.5rem;position:relative;right: 8px;"></i>
            </button>
            <button pButton pRipple label="Your Apps" class="p-button-text p-button-plain" routerLink="/yourapps"
                style="position:relative;left:255px;color:rgba(0, 0, 0, 0.603);">
                <i class="pi pi-briefcase" style="font-size: 1.5rem;position:relative;right: 8px;"></i>
            </button>
        </div>
    </p-toolbar>
</div>


<!-- <p-contextMenu [global]="true" [model]="items"></p-contextMenu> -->

<router-outlet></router-outlet>




















<!-- <div class="card">
    <h5>Tooltips</h5>
    <p-tabView>
      <p-tabPanel header="employee"  leftIcon="pi pi-calendar" >
        <p>
      
        </p>
      </p-tabPanel>
    </p-tabView>
  </div> -->